{% extends 'interface/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'interface/about.css' %}">
{% endblock styles %}

{% block content %}
    <div class="box">
        <div class="text">
            <h2>What is Connectio?</h2>
            <br>Connectio was created to bring people together at their favorite events.
            Too often, people stay home instead of attending events because they don’t
            want to go alone. Connectio assures these people that they will not be alone,
            helping them connect to others with the same interests who are attending
            the same events.
        </div>
    </div>
    <div class="team">
        <div class="box2">
            <h2>The Team</h2>
            <div class="row">
                <div class="row1">
                    <a href='https://github.com/xpoes123' target='_blank'><img src="" alt="David Jiang" width="150" height="200"></a>
                    <h3>David</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit rem natus fugit cumque, nihil voluptatem excepturi voluptatum magni? Exercitationem, a.</p>
                </div>
                <div class="row1">
                    <a href='https://github.com/pyangmain' target='_blank'><img src="static/images/okeh.jpg" alt="Peter Yang" width="150" height="200"></a>
                    <h3>Peter</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus at labore aspernatur laudantium modi fugit quidem maiores ipsam accusantium non.</p>
                </div>
                <div class="row1">
                    <a href='https://github.com/mkpro118' target='_blank'><img src="static/images/okeh.jpg" alt="MK" width="150" height="200"></a>
                    <h3>MK</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio a molestias quibusdam blanditiis consequuntur ipsum provident magnam id pariatur autem!</p>
                </div>
                <div class="row1">
                    <a href='https://github.com/gauss49' target='_blank'><img src="static/images/okeh.jpg" alt="Hanoj esuG" width="150" height="200"></a>
                    <h3>Jonah</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolorem assumenda nemo soluta dignissimos delectus tempore reprehenderit fugit dicta sequi! </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
