{% extends 'interface/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'interface/create.css' %}">
{% endblock styles %}

{% block content %}
    <aside class="error-msg"></aside>
    <section class="register-card">
        <section class="side1 active">
            <legend>Create an Event</legend>
            <section class="title">
                <label for="title">Title</label>
                <input type="text" id="title" placeholder="Pick a title" autocomplete="off">
            </section>
            <section class="date">
                <label for="date">Date</label>
                <input type="date" id="date" placeholder="When's the event?">
            </section autocomplete="off">
            <section class="location">
                <label for="location">Location</label>
                <input type="text" id="location" placeholder="Where is the event?">
            </section>
            <section class="description">
                <label for="description">Description</label>
                <textarea id="description" rows="6" cols="31" placeholder="Enter a description of your event"></textarea>
            </section>
            <section class="continue-1">
                <button>
                    Continue
                </button>
            </section>
        </section>
        <section class="side2">
            <legend>Create an Event</legend>
            <section class="attendance_count">
                <label for="count">Number of Attendees</label>
                <input type="number" id="count" placeholder="How many?">
            </section>
            <section class="capacity">
                <label for="capacity">Event Capacity</label>
                <input type="number" id="capacity" placeholder="How many?">
            </section>
            <section class="cost">
                <label for="cost">Charges in $ <small>(0 if free)</small></label>
                <input type="text" id="cost" placeholder="Ticket fee">
            </section>
            <section class="continue-2">
                <button>
                    Create
                </button>
            </section>
        </section>
    </section>
    <script src="{% static 'interface/create.js' %}" defer></script>
{% endblock content %}
