{% extends 'interface/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/profile.css' %}">
    <title>Profile</title>
{% endblock styles %}

{% block content %}
<aside class="popup">

</aside>
<div class="obscure"></div>
<div class="box">
    <h2>@{{ username }}</h2>
    <br>
    <div class="row">
        <div class="row1">
            <div class="image">
                <img src="{{ image }}" alt="{{ name }}">
            </div>
            <h3>{{ name|truncatechars:12 }}</h3>
            <p class="bio">{{ bio }}</p>
            {% if owner %}
                <button class="btn">
                    <p>
                        Edit Profile
                    </p>
                </button>
            {% endif %}
        </div>
        <div class="row2">
            <table>
                <tr>
                    <th>
                        Event
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
            {% for event in events %}
                <tr>
                    <td data-title>{{ event.title|truncatechars:17 }}</td> <td>{{ event.location|truncatechars:17 }}</td>  <td>{{     event.date }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}
