main{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:1.3rem;
    flex-direction:column;
    gap:30px;
    padding-top:20px;
    padding-bottom:20px;
}

.box {
    height: 500px;
    width: 1000px;
    color:var(--font-color);
    padding: 10px;
    border: solid 3px black;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius:20px;
  }

.row{
    margin: 30px;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
}
.row1{
    flex-basis: 60px;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px 10px;
    text-align:center;
}
h3{
    width:max-content;
    margin-inline:auto;
}
.row1 > .bio{
    font-size: 16px;
    line-height:100%;
}
.row2 {
    flex-basis: 850px;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px 10px;
    width: 350px;
    height: 350px;
    overflow: auto;
    overflow-x: hidden;
}


.image img{
    height:150px;
    aspect-ratio: 1 / 1;
    border-radius:50%;
}

.btn {
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0);
    color:white;
    font-size: 16px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-top:10px;
    border-radius: 999px;
    overflow: hidden;
    border-color: #e7e7e7;
    color: white;
    position: relative;
    z-index: 20;
}

.btn:hover > p {
    color:black;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: color 800ms ease-in-out;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    right: 100%;
    background: hotpink;
    z-index: 3;
    transition: all 800ms ease-in-out;
}

.btn:hover::before {
    right: 0;
}

table {
    width: 100%;
    max-height: 350px;
    border-collapse: collapse;
}

table tr {
    height: 3rem;
    border-top: 2px solid grey;
}

table tr:last-child {
    border-bottom: 2px solid grey;
}


table tr:not(:first-child):hover {
    transform: scale(1.05);
    color: hotpink;
}

.obscure {
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: -5;
}

.obscure.active {
    opacity: 0.7;
    z-index: 20;
    background: black;
}

.popup.display-active {
    z-index: 27;
    display: flex;
}

.popup {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 500px;
    width: 450px;
    background: hsl(0, 0%, 42.0%);
    padding: 0.4em 1.2em;
    color: var(--font-color);
    border-radius: 20px;
    box-shadow: 0px 4px 5px 0px hotpink;
}

.dt-icon {
    display: inline-block;
    height: 20px;
    aspect-ratio: 1 / 1;
    background: url('../../../static/interface/images/clock.svg');
    background-size: cover;
}

.lc-icon {
    display: inline-block;
    height: 20px;
    aspect-ratio: 1 / 1;
    background: url('../../../static/interface/images/location.svg');
    background-size: cover;
}

.ht-icon {
    display: inline-block;
    height: 20px;
    aspect-ratio: 1 / 1;
    background: url('../../../static/interface/images/person.svg');
    background-size: cover;
}

.ot-data > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 1rem;
}

.event-description::before {
    content: "Description: ";
    margin-right: 10px;
}

.event-attendance::before {
    content: "Attendance: ";
    margin-right: 10px;
}

.event-capacity::before {
    content: "Capacity: ";
    margin-right: 10px;
}

.event-cost::before {
    content: "Cost: $";
    margin-right: 10px;
}

.popup > div:first-of-type {
    align-self: center;
}

.popup > div:first-of-type > span {
    margin-inline: auto;
    font-size: 2rem;
}

.popup > div:not(:last-of-type) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    gap: 0.3rem;
}

.popup > div > span:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-info {
    width: 100%;
}

.popup > div.other-info > span:first-child {
    width: 100%;
}

.popup > div > span > span:first-child {
    margin-right: 10px;
}

a.ht-data {
    color: hotpink;
}

.title-info, .other-info > span:first-of-type {
    text-decoration: underline;
    text-shadow: 1px 1px 2px hotpink;
}
